// customize some Bootstrap variables
// exemple :
// $primary: darken(#428bca, 20%);

// New colors
$hbtDarkBlue: #7fadc5;
$hbtPurple:   #3f4253;
$hbtOrange:   #f5853b;
$hbtGrey:     #f5f5f5;
$hbtDarkGrey: #a0a0a0;
$hbtRed:      #B81A18;
$happyGreen:  #b1c18c;

// import functions & variables to merge custom theme
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

// Custom Bootstrap
// Add colors to $theme-colors
// See file ~bootstrap/scss/_variables.scss
$custom-theme-colors: (
  "hbtDarkBlue":  $hbtDarkBlue,
  "hbtOrange":    $hbtOrange,
  "hbtGrey":      $hbtGrey,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Add font Dancing Script
@font-face {
  font-family: "DancingScript";
  src: url("/public/fonts/DancingScript-VariableFont_wght.ttf");
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// Custom Body
body {
  margin-top: 60px;
  background-color: white;
}

#loader {
  display: block;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.7;
}

// Footer
.footer {
  // by default, position is relative
  bottom: 0;
  width: 100%;
  background-color: $hbtGrey;
}

// change text color of navbar
.navbar-nav {
  .nav-link {
    color: $hbtDarkBlue !important;
  }
  .nav-link.active {
    color: $hbtPurple !important;
  }
}

.nav-title {
  font-family: "DancingScript";
  color: $hbtDarkBlue;
  font-weight: 600;
}

.dropdown-item.active {
  background-color: $hbtDarkBlue !important;
}

.dropdown-item {
  font-size: 0.9rem;
}

#navhome {
  background-color: white;
}

#lang {
  color: $hbtDarkBlue;
};

.btn-search {
  border-color: #ced4da;
  background-color: $hbtGrey;
}

.btn-outline-hbtDarkBlue:hover {
  color: #ffffff;
}

.form-date-help {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
}

.avatar {
  max-width: 224px;
  max-height: 224px;
  // clip-path: ellipse(45% 45% at 50% 50%);
  border-radius: 50%;

  &.avatar-large {
    max-width: 128px;
    max-height: 128px;
  }
  
  &.avatar-medium {
      max-width: 64px;
      max-height: 64px;
  }

  &.avatar-mini {
      max-width: 32px;
      max-height: 32px;
  }

  &.avatar-micro {
      max-width: 20px;
      max-height: 20px;
  }
}

.btn {
  &.btn-modal-confirm {
    background-color: $hbtRed;
    color: #ffffff;
    font-size: 0.8rem;
  }
  &.btn-modal-cancel {
    background-color: $hbtDarkGrey;
    color: #ffffff;
    font-size: 0.8rem;
  }
  &.btn-white {
    background-color: #ffffff;
    color: #000000;
    &:hover {
        background-color: $hbtGrey;
        color: #000000;
    }
  }
}

.p-modal {
  font-size: 0.8rem;
}
